[Unit]
Description=Runs checkForUpdateArma

[Service]
Type=oneshot
User=game-server
Group=sudo
ExecStart=/home/game-server/projects/arma-updater/run.sh
RuntimeMaxSec=10min
KillMode=control-group

[Install]
WantedBy=multi-user.target
